<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.gab.babylove">

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:name=".Application.MyApplication"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <meta-data
                android:name="com.taobao.android.hotfix.IDSECRET"
                android:value="24768300-1"/>
        <meta-data
                android:name="com.taobao.android.hotfix.APPSECRET"
                android:value="17530de33dec5e28d4185a9745b63ed6"/>
        <meta-data
                android:name="com.taobao.android.hotfix.RSASECRET"
                android:value="MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQD
                Xjs2kZ3xZQOljOPySBEUyKi7UFw18O0s0/KAPcrPDlKmhd/RNcB6D8bC+II1oRJoI7
                ADDUkkCFEvp8ilH0KS0XjUbar19szmTr8rmE7J4x94gD42ZlVXsigtIwAtdR7ExgNz
                T0LW7LhuQIl2aa6EDZLfnuEyIdr4ZF9JBP9zhiUd5iHSY9BwCJMPVTojPdjjKfUAc8
                iM4kdd/SjaCPbvccBnQkc8rGHgRZ64y1EnlBdcUl5PkrrsNPSbxCLzWUSq8sb2En7X
                eKmhpxJJnBEAa7yghAEQo/hTDw6djRLfin2zL6FHfbqri99v5eAcCoxxnUu+FobkCv
                yRn92cO6HYpAgMBAAECggEAEpwXkOwGRkZeX9yZoZmQx8XwiQr8dQ9BbO+qeerzLh1
                1j6UliFH3sHh7Q87XpnrVuZN2dWZzOyS5cRchDTwsHA5OE3Hhrip8/A0fPUHSFK9cs/
                Pjy7Ci3GsGkl9SG9mGqLlxVzAboG9Yndb5sc0892gIoI6+vMFTpCL0WgHDdg0Vbw1/xJ
                Ibm/J5Dx1Jc0GokPUwmwDDnZ1J7ROcFXP/5YvyMtQR6MRi02owdC1SyKZUggNp8Asaua5
                C9HVY1gMFBjXpmRmjPFc9sZtwcdDf+OwAnXF70fPffKvew1X7ysAIy3D92qEzb5IN6jAQw
                xAIhSbuPFFjVbIArezqOMvQoQKBgQD1V118eCSugV6WoC1RJcHs21BvqwohwzZ9bWl6ylx
                wNUdOOY8X2Zoiz2ZO8xT10d5clbhieSSyEEks5cKsSNDGRkGUHklckfCH/3uXoAjli8qUE5
                4uM72DIgWZwf+nO1er5RdHWt4AdEhlbEyZkHTdUR4v69m46MSwD9i2lzR7XQKBgQDg7DFbZN
                2JSAhHvXwLkayFuvj7gpXPwvUeDrtOzyHvjaXdpzJH+eJvVA7FToHui3URVEEEMu9ZwudHeNh
                UoZjeY6n+jTFSmjVCj1XTt/23UmyhYSx1Li9mn7CvpTe2OCou9nsyWeVc2KyACsXDRXEjbumT7WmLD
                BKZRJeUP1NFPQKBgQDByAO7MFooy14est2YXq5Rmthpmzshd8MuRqEtr3Bb4Hk1vBjdya4JGK/CZBWGJ
                AHyNv+wJ+doDZz+rWuaENl2AkAB8foX9914Tb8c//aG+GdFlkk2TP++97xcufJn8GNLDmPYpFj9Gtuj4Gq
                QUJ09wbiKOUt61b+lIJ8XeU6msQKBgE3AeGNun8J4GxypnPrm1au48Z8ICj+y1kcYsplQsxt7bM4NoS0Obb
                8sYJrGQ9YxcTuXU45fCSyPWqHzXV0MK6sc6sPrDRTP5/9lSzcQEG3R2WmEDPlJCOvB4jMluveLvNFVNUs3ljk
                dUaxFjQ2usKieC7KuTGDbwIYpFvkRVvjFAoGAM1Y+QTdpLzi3dkEEK9icOdIC2xK5VHc9NOntNe6EoTSIemym
                m3SgsPq+UnrOlQTIWQDaGvMumObz87aNmkQ1P8igpYyEZCB0zeMKl4/+VR5Aa8aXytS0QrjU5Rth+edoaDfSQTv
                y7KkyhwJHDRzYDcjNSAWACdYp/RfKnzRWguM="/>

        <activity
                android:name=".login.LoginActivity"
                android:theme="@style/AppSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- 动态更换 Launcher-->
        <!--<activity-alias-->
        <!--android:name=".Test1"-->
        <!--android:enabled="false"-->
        <!--android:icon="@mipmap/logo"-->
        <!--android:label="第一次"-->
        <!--android:targetActivity=".activity.GuideActivity">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN"/>-->
        <!--<category android:name="android.intent.category.LAUNCHER"/>-->
        <!--</intent-filter>-->
        <!--</activity-alias>-->

        <!--<activity-alias-->
        <!--android:name=".Test2"-->
        <!--android:enabled="false"-->
        <!--android:icon="@mipmap/ic_launcher_round"-->
        <!--android:label="第二次"-->
        <!--android:targetActivity=".activity.GuideActivity">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN"/>-->
        <!--<category android:name="android.intent.category.LAUNCHER"/>-->
        <!--</intent-filter>-->
        <!--</activity-alias>-->
        <!-- 登录 -->
        <!--<activity android:name=".login.LoginActivity"-->
        <!--/>-->
        <!--<activity android:name=".MainActivity"/>-->
        <!-- 大转盘 -->
        <activity
                android:name=".MainActivity"/>
        <activity
                android:name=".example.Camera2Activity"/>
        <activity
                android:name=".activity.DialActivity"/>
        <activity
                android:name=".activity.AnimationActivity"/>
        <!-- 照片放大 -->
        <activity
                android:name=".activity.PhotoViewActivity"/>
        <!-- 个人中心 -->
        <activity
                android:name=".activity.PersonalCenterActivity"/>
        <!-- 模拟快递布局 -->
        <activity
                android:name=".activity.TraceListActivity"/>
        <!-- 不同格式文件浏览 activity -->
        <activity
                android:name=".tbs.FileBrowsingActivity"/>
        <!-- 工具 activity -->
        <activity
                android:name=".activity.ToolsActivity"/>
        <activity
                android:name=".activity.CalendarViewActivity"/>
        <activity
                android:name=".activity.AgentWebActivity"/>
        <activity
                android:name=".activity.FingerprintMainActivity"/>
        <activity
                android:name=".activity.GSYVideoPlayerActivity"/>
        <!-- 修改个人信息 activity -->
        <activity
                android:name=".modify.ModifyInfoActivity"/>
        <!-- WebView 相关 activity -->
        <!-- 8.0关于WebView的新特性 -->

        <activity android:name=".activity.WebViewActivity">
            <meta-data
                    android:name="android.webkit.WebView.EnableSafeBrowing"
                    android:value="true">
            </meta-data>
        </activity>
        <activity
                android:name=".activity.HomeDataActivity"/>
        <!-- RecyclerviewActivity -->
        <activity
                android:name=".activity.RecyclerviewActivity"/>
        <!-- 权限相关 -->
        <activity
                android:name="com.fy.baselibrary.utils.PermissionActivity"
                android:theme="@style/NoTitleTranslucentTheme"/>
        <!-- 权限相关 -->
        <activity
                android:name=".activity.SurfaceActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="sensor"
                android:windowSoftInputMode="stateHidden|adjustResize"/>

    </application>

</manifest>