<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"

          package="com.example.gab.babylove"
          tools:ignore="GradleOverrides">

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission
            android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
            tools:ignore="ProtectedPermissions"/>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- 读写sdcard，storage等等 -->
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 用于指纹 -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--保持手机唤醒-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/><!-- 获取MAC地址-->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!--Android8.0 安装 apk 需要添加权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>


    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
            android:name="com.ggz.baselibrary.application.BaseApp"
            android:icon="@mipmap/ic_launcher_round"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <!-- 欢迎 -->
        <activity
                android:name=".ui.main.login.StartUpActivity"
                android:screenOrientation="portrait"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--Main主页-->
        <activity
                android:name=".MainActivity"
                android:launchMode="singleTask"
                android:windowSoftInputMode="adjustPan|stateHidden"
                android:screenOrientation="portrait">
        </activity>

        <!--Base-->
        <activity
                android:name=".base.BaseActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"/>
        <!-- 登录 -->
        <activity
                android:name=".ui.main.login.LoginActivity"
                android:label="@string/login"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"/>
        <!-- 注册 -->
        <activity
                android:name=".ui.main.login.RegisterActivity"
                android:label="@string/registerTitle"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"/>
        <!-- 头像icon -->
        <activity
                android:name=".ui.main.activity.PhotoViewActivity"
                android:label="@string/goddess"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"/>
        <!-- 工具 activity -->
        <activity
                android:name=".ui.main.activity.ToolsActivity"
                android:label="@string/tools"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"/>
        <!-- 美图欣赏 -->
        <activity
                android:name=".ui.main.activity.BelleActivity"
                android:label="@string/pretty_picture"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"/>
        <!-- 美图欣赏 图片详情页 -->
        <activity
                android:name=".ui.main.activity.PictureDetailActivity"
                android:screenOrientation="portrait"/>
        <!-- Website 常用网站 -->
        <activity
                android:name=".ui.main.activity.WebsiteActivity"
                android:label="@string/website"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"/>
        <!-- 我的收藏 -->
        <activity
                android:name=".ui.main.activity.MyCollectActivity"
                android:label="@string/collect"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"/>
        <!-- 搜索 -->
        <activity
                android:name=".ui.main.activity.SearchActivity"
                android:label="@string/search"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"/>
        <!-- 知识体系 详情 -->
        <activity
                android:name=".ui.view.activity.SystemActivity"
                android:label="@string/knowledge"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"/>
        <!-- AgentWeb -->
        <activity
                android:name=".web.AgentWebActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"/>

        <!-- 关于我们 -->
        <activity
                android:name=".ui.main.activity.AboutActivity"
                android:label="@string/about_us"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"/>

        <!-- 最新项目 -->
        <activity
                android:name=".ui.main.activity.NewProjectActivity"
                android:label="@string/new_project"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"/>
        <!-- 公众号 -->
        <activity
                android:name=".ui.main.activity.OfficialAccountActivity"
                android:label="@string/official_account"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"/>
        <!-- 公众号详情 -->
        <activity
                android:name=".ui.main.activity.OfficialAccountListActivity"
                android:label="@string/official_account"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustUnspecified|stateHidden"
                android:screenOrientation="portrait"/>

        <!-- 指紋相关工具类 -->
        <activity
                android:name="ui.main.activity.FingerprintMainActivity"
                android:label="@string/fingerprint"
                android:screenOrientation="portrait"/>

        <!-- 运动健身 -->
        <activity
                android:name=".ui.main.activity.OrnamentalListContextActivity"
                android:label="@string/ornamental"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"/>
        <!-- 运动健身 -->
        <activity
                android:name=".ui.main.activity.OrnamentalContextActivity"
                android:label="@string/ornamental"
                android:theme="@style/OrnamentalTheme"
                android:screenOrientation="portrait"/>
        <!-- 运动健身 -->
        <activity
                android:name=".ui.main.activity.OrnamentalMotionActivity"
                android:label="@string/ornamental"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"/>
        <!--软件更新-->
        <activity
                android:name=".ui.main.activity.UpdateActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"/>

        <activity
                android:name="utils.SelectorButtonActivity"
                android:label="@string/selector_button"
                android:screenOrientation="portrait"/>
        <!-- 不同格式文件浏览 activity -->
        <!--<activity-->
        <!--android:name=".ui.main.activity.FileBrowsingActivity"-->
        <!--android:screenOrientation="portrait"/>-->

        <!-- WebView 相关 activity -->
        <!-- 8.0关于WebView的新特性 -->
        <activity
                android:name=".web.WebViewActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.webkit.WebView.EnableSafeBrowing"
                    android:value="true">
            </meta-data>
        </activity>

        <!-- 蒲公英配置-->
        <provider
                android:name="com.pgyersdk.PgyerProvider"
                android:authorities="${applicationId}.com.pgyer.provider"
                android:exported="false"/>

        <meta-data
                android:name="PGYER_APPID"
                android:value="7755c220370c0b90a3a17fbfd3f09690">
        </meta-data>

        <!--适配屏幕-->
        <meta-data
                android:name="design_width_in_dp"
                android:value="375"/>
        <meta-data
                android:name="design_height_in_dp"
                android:value="667"/>

        <!-- SurfaceView+MediaPlayer 自定义播放器 -->
        <activity
                android:name="widget.SurfaceActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="sensor"
                android:windowSoftInputMode="stateHidden|adjustResize"/>

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>